body {
    padding-top: 75px;
    padding-bottom: 75px;

    
}
nav a {
    color: blue;
    /* Utility*/

}
label {
    font-weight: 700; 
}
a, a:hover  {
    text-decoration: none;
}

.full-width {
    font-weight: 700;
}

/* Website*/

nav .nav-light a{

} 

/* Pages */

nav .nav-light a{
     
}

/* widgets */ 
.icon-right {
    position: absolute; 
    right: 15px; 
    z-index: 1;
    background: white;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
